h3{
  margin: 0;
}
p{
  margin: 0;
}
.goodsPreview{
  .goodsBody{
    background: #fff;
  }
  .goods_status{
    border-bottom: 1px solid #e9e9e9;
    .product_status{
      display: flex;
      height: 32px;
      margin:46px 140px 23px;
      .product_text{
        line-height: 32px;
        color: #000;
        width: 150px;
        span{
          color: #666;
          padding: 0 16px;
        }
      }
      button{
        margin-left: 50px;
      }
    }
  }
  .cloudHead{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    .cloudHeadLeft{
      float: left;
      height: 60px;
      width: auto;
      padding-left: 32px;
      span{
        font-size: 16px;
        color: #151515;
        letter-spacing: 1px;
        line-height: 60px;
        font-family: "webfont-heiCui";
        font-weight: 600;
      }
    }
    .cloudHeadRight{
      float: right;
      height: 60px;
      width: auto;
      button{
        border: 1px solid #007AED;
        color: #007AED;
        margin-top: 14px;
        margin-right: 32px;
      }
    }
  }
  .mobile{
    width: 375px;
    height: 667px;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
    background: #f5f5f5;
    >h3{
      font-size: 24px;
      background: #fff;
      color: #f90;
    }
    .mobile_preview{
      text-align: left;
      .goods_info{
        .goods_name{
          padding:10px 20px;
          background: #fff;
          h3 {
            font-size: 20px; 
          }
        }
        .goods_price{
          div{
            background: #ddd;
            font-size: 14px;
            div{
              padding: 0 20px;
            }
          }
          h3{
            padding: 10px 20px;
            color: #ff0000;
          }
          p{
            padding: 10px 20px;
            background: #fff;
          }
        }
      }
      .goods_instructions{
        padding: 0 20px;
        margin-top: 10px;
        background: #fff;
        .service_description{
          border-top: 1px solid #ddd;
          padding: 5px 0;
          p{
            line-height: 24px;
          }
        }
        .goods_commitment{
          padding: 10px 0;
          text-align: center;
        }
        .radio{
          background: rgb(237, 0, 178);
          width: 20px;
          height: 20px;
          text-align: center;
          border-radius: 10px;
          display: inline-block;
          color: #fff;
        }
      }
      .goods_detail{
        margin-top: 20px;
        background: #fff;
        padding: 0 20px;
      }
      .goods_spe{
        padding: 10px;
        h4{
          padding: 10px;
        }
        li{
          float: left;
          padding:0 10px;
          margin: 0 15px;
          background: #1890ff;
          color: #fff;
        }
        ul{
          overflow: hidden;
        }
      }
    }
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
